.latest-blog {
    padding: 80px 0 63px;
    background-image: url(https://www.filemakr.com/design/img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-header {
    margin-bottom: 18px;
    position: relative;
}

.feature-head {
    margin: auto;
}

.feature-head h2 {
    margin-bottom: 25px;
}

.section-sub-head h2 {
    font-size: 36px;
    font-weight: 700;
    color: #0b0b0b;
    letter-spacing: .9px;
    line-height: 1.2;
}