code {
  background-color: #272822 !important;
  color: #f8f8f2 !important;
  border-radius: 0.3rem !important;
  padding: 4px 5px 5px !important;
  white-space: nowrap !important;
}

pre code {
  white-space: inherit !important;
}

pre {
  background-color: #272822 !important;
  padding: 5px !important;
  border-radius: 0.3em !important;
}

.title-heading-name {
  font-size: 28px;
  font-weight: 600;
  line-height: 38.25px;
  text-transform: capitalize;
}

.horizontal-info {
  color: #999;
  font-weight: 500;
  height: 26px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 19.12px;
}

.point {
  background: #999;
  border-radius: 50%;
  height: 3px;
  margin: 0 6px;
  width: 3px;
}

.horizontal-info span {
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 19.12px;
}

.tabs-container {
  padding-top: 24px;
  background: #fff;
  border-bottom: 2px solid #f3f3f3;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.39px;
}

.tabs-active {
  border-bottom: 2px solid #249efb;
  border-radius: 2px 2px 0 0;
}

.tabs-tab {
  border-radius: 2px;
  line-height: 16.39px;
  padding: 0 33px 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.tp-title {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 16.39px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

#nname-introduction123 {
  line-height: 1.25;
  text-align: justify;
  font-weight: 700 !important;
  font-size: 30px;
  margin: 0;
}

.note-content {
  margin: 0 auto;
  max-width: 864px;
  width: 100%;
}

.note-content
  .note-display-main
  *:not(img, svg, video, canvas, audio, iframe, embed, object, .extracted-simple-text) {
  all: revert;
}

.content-wrapper {
  --contentWidth: 628px;
  max-width: var(--contentWidth);
  padding: 32px 0;
  position: relative;
}

.note-content h1 {
  font-weight: 500 !important;
}

.note-content p {
  text-align: justify !important;
}

.note-content-side {
  display: block;
  left: calc(var(--contentWidth) + 64px);
  max-width: 350px;
  position: absolute;
  width: 100%;
}

.note-content-main {
  min-height: 80vh;
}

.side-section {
  background: #d3ecfe;
  white-space: nowrap;
  border-radius: 10px;
  z-index: 2;
  border: 1px solid #e9ecef;
  margin-bottom: 1.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.side-section-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.section-heading {
  margin-bottom: 15px;
}

.section-heading h4 {
  font-size: 18px;
  font-weight: 600;
  color: #0b0b0b;
  display: inline-block;
}

.side-section-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-section-body ul li {
  font-size: 15px;
  margin-bottom: 10px;
  display: flex;
  white-space: break-spaces;
}

.side-section-body .index {
  margin-right: 8px;
  font-size: 16px;
}

.img-icon {
  min-width: 18px;
  height: 18px;
  margin-left: 7px;
  margin-top: 1px;
  cursor: pointer;
}

.img-icon img {
  height: 18px;
}

.popup-outer {
  right: 50px;
  position: fixed;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transition: opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}
.note-content-main .active.popup-outer {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.note-content-main .popup-box {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
}
.popup-box .close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: #b4b4b4;
  transition: all 0.2s ease;
  cursor: pointer;
}
.popup-box .close:hover {
  color: #333;
}
.popup-box .profile-text {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.popup-box .profile-text .text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.profile-text .text .name {
  font-size: 18px;
  font-weight: 600;
}
.profile-text .text .profession {
  font-size: 12px;
  font-weight: 500;
  margin-top: -4px;
}
.popup-box img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.popup-box textarea {
  min-height: 140px;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  padding: 10px 10px 10px 14px;
  font-weight: 400;
  background: #f3f3f3;
}
.popup-box .button {
  display: flex;
  justify-content: flex-end;
}
.popup-box .button button {
  outline: none;
  border: none;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-top: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
}

.popup-box .warning-heading-text {
  padding-bottom: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
